@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap");
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #8b786d;
    min-height: 100vh;
}

.body-container {
    padding: 1rem 2rem 1rem;
    margin-bottom: 7rem; /* must be same as heigth of footer*/
    display: flex;
    flex-direction: column;
    margin: auto;
    /* display: grid; */
}

.card {
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #8b786d;
}

.imgProducts {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 15%;
}

.infoProducts {
    margin-top: 1rem;
}

.colorButton {
    color: #fafafa;
    background-color: #85bb65;
}

.colorButton:hover {
    background-color: green;
    color: #fafafa;
}